@use "header";
@use "footer";
@use "colours";
//DEFAULTS
body{
    padding: 0px;
    margin: 0px;
    background-color: var(--white);
}

h3,h4{
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1.05em, 2vw, 1.45em);
}

h2{
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1.25em, 2vw, 1.65em); 
}

h1{
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: clamp(1.55em, 2vw, 1.85em); 
}

p{
    letter-spacing: 0.8px;
    margin: 0px;
    padding: 0px;
    font-family:'Times New Roman', Times, serif;
    font-size: clamp(1em, 2vw, 1.25em);
}

.email_tag{
    word-break: break-word;
    color: var(--black);
    text-decoration: underline;
    cursor: pointer;
}
//MAIN PAGE
.page_main{
    display: grid;
    align-items: center;
    row-gap: 75px;
    grid-template-rows: auto auto auto auto;
    min-height: 100vh;
    padding-top: 25px;
    padding-bottom: 25px;
    //HERO SECTION STYLES
    >.hero_section{
        display: grid;
        row-gap: 25px;
        justify-items: center;
    
        >.hero_text{
            display: grid;
            row-gap: 15px;
            width: 80%;
            padding-top: 7px;
            padding-bottom: 7px;

            >.image_container{
                justify-items: center;
                display: grid;
                padding-top: 15px;
                padding-bottom: 15px;
                >#port_image{
                    width: 70%;
                    max-width: 225px;
                    height: auto;
                    border-radius: 50%;
                    padding: 2.5px;
                    background-color: var(--accent);
                }
            }

            >.hero_text_span{
                display: grid;
                justify-items: start;
                align-items: center;
                row-gap: 10px;
                >.text_div{
                    display: grid;
                    justify-items: start;
                    
                    
                    >h4{
                        color: var(--accent);
                    }
                    >h1{
                        color: var(--black);
                    }
                    >.hello_text{
                        text-decoration: underline 1px;
                        color: var(--accent);
                        padding-top: 2.5px;
                        padding-bottom: 2.5px;
                    }
                }
                >.creds_div{
                    display: grid;
                    justify-items: start;
                    row-gap: 10px;
                    >.phone_text{
                        color: var(--black);
                    }
                    >.resume_tag{
                        width: 30px;
                    }
                }
            }
            
        }
    }
    //ABOUT SECTION STYLES
    >.about_section{
        display: grid;
        justify-items: center;

        >.about_article{
            display: grid;
            justify-items: start;
            align-items: center;
            width: 80%;
            row-gap: 25px;

            >.about_h_div{
                padding-top: 10px;
                padding-bottom: 10px;
                display: grid;
                justify-items: start;
                text-align: start;
                row-gap: 20px;

                >.about_heading{
                    color: var(--accent);
                }
                >.about_text{
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-weight:bold;
                }
                >.view_proj_text{
                    align-self: center;
                    color: var(--accent);
                    padding: 5.5px;
                    border-radius: 7px;
                    cursor: pointer;
                    border: solid var(--accent) 1px;
                }
            }
            >.bring_to_div{
                padding-top: 10px;
                padding-bottom: 10px;
                display: grid;
                align-items: center;
                justify-items: start;
                text-align: start;
                row-gap: 20px;

                >.subheader_table{
                    color: var(--black);
                    font-weight: 400;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                >.sub_heading{
                    color: var(--black);
                }
                >.view_git_text{
                    align-self: center;
                    color: var(--accent);
                    padding: 5.5px;
                    border-radius: 7px;
                    cursor: pointer;
                    border: solid var(--accent) 1px;
                }
            }
        }
    }

    >.table_sect{
        display: grid;
        align-items: center;
        justify-items: center;
        >.tables_container{
            display: grid;
            width: 80%;
            row-gap: 15px;
            >.table_wrapper{
                padding-top: 10px;
                padding-bottom: 10px;
                display: grid;
                align-items: center;
                justify-items: start;
                text-align: start;
                row-gap: 20px;
                
                >.default_text{
                    color: var(--black);
                }
                >.skill_sub_heading{
                    color: var(--black);
                }
            }
        }
    }

    >.skills-proj-wrapping{
        display: grid;
        align-items: center;
        justify-items: center;
        row-gap: 35px;
    
    
        //SKILLS SECTION 
        >.wrapper_article{
            display: grid;
            padding-top: 7px;
            padding-bottom: 7px;
            border-radius: 7.5px;
            row-gap: 35px;
            width: 80%;


            >.arch{
                row-gap: 35px;
                display: grid;
                justify-items: start;
                text-align: start;
                >.projects_headertext_container{
                    display: grid;
                    text-align: start;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    >.projects_header{
                        text-align: start;
                        justify-self: start;
                        color: var(--black);
                    }
                }

                >.title_container{
                    display: grid;
                    justify-items: start;
                    text-align: start;
                    row-gap: 10px;
                    >.proj_title{
                        padding-bottom: 5px;
                        padding-top: 5px;
                    }
                    >.inner_div{
                        width: 100%;
                        row-gap: 10px;
                        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                        display: grid;
                        text-align: start;
                        justify-items: start;
                        >.git_repo_tag{
                            padding: 5px;
                            border: solid var(--accent) 1px;
                            color: var(--accent);
                            border-radius: 7px;
                        }
                        >.site_tag{
                            padding: 5px;
                            border: solid var(--accent) 1px;
                            color: var(--accent);
                            border-radius: 7px;
                        }
                    }
                }
                >.proj_image{
                    padding-bottom: 7px;
                    padding-right: 8.5px;
                    padding-left: 8.5px;
                    border-radius: 7.5px;
                }
                >.proj_desc{
                    text-align: start;
                    max-width: 700px;
                }
                >.proj_skills{
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    justify-items: start;
                    text-align: start;
                    display: grid;
                    row-gap: 25px;
                    width: 100%;
                    >p{
                        font-weight: 600;
                        padding-bottom: 5px;
                        padding-top: 5px;
                        color: var(--accent);
                    }
                }
            }



            >.arch_skills{
                row-gap: 35px;
                display: grid;
                justify-items: start;
                text-align: start;
                >.outline_text_container{
                    display: grid;
                    align-items: center;
                    justify-items: start;
                    >.outline_text{
                        color: var(--black);
                    }
                }
                >.skills_container{
                    display: grid;
                    row-gap: 10px;
                    align-items: center;
                    justify-items: start;
                    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
                    width: 100%;
                    >p{
                        font-weight: 600;
                        color: var(--accent);
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }
                }
            }
        }


    }
        
}



@media only screen and (min-width: 770px){
    .page_main{
        //HERO SECTION STYLES
        >.hero_section{
            
            >.hero_text{
                display: grid;
                row-gap: 15px;
                width: 80%;
                padding-top: 7px;
                padding-bottom: 7px;
                grid-template-columns: 1fr 1fr;
    
                >.image_container{
                    justify-items: start;
                    display: grid;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    >#port_image{
                        width: 70%;
                        max-width: 250px;
                        height: auto;
                        border-radius: 50%;
                        padding: 2.5px;
                        background-color: var(--accent);
                    }
                }
    
                >.hero_text_span{
                    display: grid;
                    justify-items: start;
                    row-gap: 10px;
                    >.text_div{
                        display: grid;
                        justify-items: start;
                        
                        
                        >h4{
                            color: var(--accent);
                        }
                        >h1{
                            color: var(--black);
                        }
                        >.hello_text{
                            text-decoration: underline 1px;
                            color: var(--accent);
                            padding-top: 2.5px;
                            padding-bottom: 2.5px;
                        }
                    }
                    >.creds_div{
                        display: grid;
                        justify-items: start;
                        row-gap: 10px;
                        >.phone_text{
                            color: var(--black);
                        }
                        >.resume_tag{
                            width: 30px;
                        }
                    }
                }
                
            }
        }
        //ABOUT SECTION STYLES
        >.about_section{
     
            >.about_article{
     
                >.about_h_div{
     
                    >.about_heading{
                    }
                    >.about_text{
                    }
                    >.view_proj_text{
                    }
                }
                >.bring_to_div{
                    >.subheader_table{
                    }
                    >.sub_heading{
                    }
                    >.view_git_text{
                    }
                }
            }
        }
    
        >.table_sect{
            >.tables_container{
                grid-template-columns: 1fr 1fr;
                >.table_wrapper{
                    width:80%;
                    >.default_text{
                    }
                    >.skill_sub_heading{
                    }
                }
            }
        }
    
        >.skills-proj-wrapping{
         
            //SKILLS SECTION 
            >.wrapper_article{
    
                >.arch{
                    >.projects_headertext_container{
                        >.projects_header{
                        }
                    }
    
                    >.title_container{
                        >.proj_title{
                        }
                        >.inner_div{
                            >.git_repo_tag{
                            }
                            >.site_tag{
                            }
                        }
                    }
                    >.proj_image{
                    }
                    >.proj_desc{
                    }
                    >.proj_skills{
                        >p{
                        }
                    }
                }
    
    
    
                >.arch_skills{
                    >.outline_text_container{
                        >.outline_text{
                        }
                    }
                    >.skills_container{
                        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
                        >p{
                        }
                    }
                }
            }
    
    
        }

    }
    
}

@media only screen and (min-width: 1024px){
    .page_main{
        //HERO SECTION STYLES
        >.hero_section{
            
            >.hero_text{
                display: grid;
                row-gap: 15px;
                width: 80%;
                padding-top: 7px;
                padding-bottom: 7px;
                grid-template-columns: 350px auto;
    
                >.image_container{
                    justify-items: start;
                    display: grid;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    >#port_image{
                        width: 70%;
                        max-width: 250px;
                        
                        height: auto;
                        border-radius: 50%;
                        padding: 2.5px;
                        background-color: var(--accent);
                    }
                }
    
                >.hero_text_span{
                    display: grid;
                    justify-items: start;
                    row-gap: 10px;
                    >.text_div{
                        display: grid;
                        justify-items: start;
                        
                        
                        >h4{
                            color: var(--accent);
                        }
                        >h1{
                            color: var(--black);
                        }
                        >.hello_text{
                            text-decoration: underline 1px;
                            color: var(--accent);
                            padding-top: 2.5px;
                            padding-bottom: 2.5px;
                        }
                    }
                    >.creds_div{
                        display: grid;
                        justify-items: start;
                        row-gap: 10px;
                        >.phone_text{
                            color: var(--black);
                        }
                        >.resume_tag{
                            width: 30px;
                        }
                    }
                }
                
            }
        }
        //ABOUT SECTION STYLES
        >.about_section{
     
            >.about_article{
                grid-template-columns: 1fr 1fr;
     
                >.about_h_div{
                    width: 90%;
     
                    >.about_heading{
                    }
                    >.about_text{
                    }
                    >.view_proj_text{
                    }
                }
                >.bring_to_div{
                    width: 90%;

                    >.subheader_table{
                    }
                    >.sub_heading{
                    }
                    >.view_git_text{
                    }
                }
            }
        }
    
        >.table_sect{
            >.tables_container{
                grid-template-columns: 1fr 1fr;
                >.table_wrapper{
                    width:80%;
                    >.default_text{
                    }
                    >.skill_sub_heading{
                    }
                }
            }
        }
    
        >.skills-proj-wrapping{
         
            //SKILLS SECTION 
            >.wrapper_article{
                row-gap: 55px;
                grid-template-columns: 1fr 1fr;
    
                >.arch{
                    width: 90%;
                    >.projects_headertext_container{
                        >.projects_header{
                        }
                    }
    
                    >.title_container{
                        >.proj_title{
                        }
                        >.inner_div{
                            >.git_repo_tag{
                            }
                            >.site_tag{
                            }
                        }
                    }
                    >.proj_image{
                    }
                    >.proj_desc{
                    }
                    >.proj_skills{
                        >p{
                        }
                    }
                }
    
    
    
                >.arch_skills{
                    width: 90%;

                    >.outline_text_container{
                        >.outline_text{
                        }
                    }
                    >.skills_container{
                        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                        >p{
                        }
                    }
                }
            }
    
    
        }

    }
    
}
